@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Roboto:wght@300;400&display=swap');

body, * {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: #f1f1f1;
}

button {
    font-family: 'Inter', sans-serif;
}
/* predefined styles */
.flex {
    display: flex;
}

.container {
    width: 80rem;
    max-width: 60%;
    margin: 0 auto;
}

.space {
    justify-content: space-between;
}

.navborder {
    /* border: 0.5px solid rgb(97, 94, 94); */
    border-radius: 8px;
    align-items: center;
    background-color: #474141;
}

.display {
    display: none;
}

/* defined styles end */

/* <<< STYLING THE NAVBAR>>> */
.navbar {
    gap: 1rem;
    background-color: #333;
    box-sizing: border-box;
    width: 100%;
    height: max-content;
    padding: 1rem ;
    align-items: center;
    position: fixed;
    z-index: 1;
}

.mobile-logo {
    display: none;
}


/* STYLING THE NOTIFICATION AND PROFILE DROP DOWN BEGINS*/

.profile-dropdown {
    align-items: center;
    justify-content: space-between;
    margin: 10px 10px;
    background-color: #F1F1F1;
    padding: 5px;
    border-radius: 6px;
}

.navborder1 {
    border-radius: 8px;
    align-items: center;
    /* background-color: #474141; */
    flex-direction: row-reverse;
    gap: 1rem;
}

.store {
    padding: 0 0 0.8rem 0.8rem;
}

.drop-down2 hr {
    /* width: 320px; */
    height: 2px;
    border: none;
    background: #E1E1E1;
}

.nametag1 {
    gap: 8px;
    /* border-radius: 8px; */
    border: none;
    color: #fff;
    padding: 0.125rem 0.125rem 0.125rem 0.5rem;
}

.drop-down {
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid #DBDBDB;
    right: 1%;
    top: 5rem;
    z-index: 1;
}

.drop-down1 {
    padding: 1rem;
}

.drop-down2 {
    width: 20rem;
    flex-direction: column;
    z-index: 1;
    gap: 1rem;
    border: 1px solid #DBDBDB;
}

a.stores {
    text-decoration: none;
    color: #303030;
}

.static {
    position: fixed;
}

.email {
    color: #616161;
    font-size: 14px;
}

.lists {
    padding: 0 0 0.8rem 0.8rem;
}

li {
    padding-bottom: 1rem;
    list-style: none;
    text-decoration: none;
}

ul {
    padding-left: 0;
    cursor: pointer;
}

li a {
    color: #333333;
    text-decoration: none;
    cursor: pointer;
}

.alert-container {
    padding: 1rem;
}

.alerts {
    background-color: #F1F1F1;
    padding: 1rem;
}
/* STYLING THE NOTIFICATION AND PROFILE DROP DOWN ENDS*/

/* SEARCHBAR STYLING */
#search {
    border: none;
    background-color: transparent;
    width: inherit;
    color: #fff;
    width: 100%;
    /* max-width: 20em; */
}

#search:focus{
    outline: none;
}

.searchbar {
    padding: 0.5rem;
    width: 30rem;
    height: fit-content;
    gap: 0.375rem;

}

#search::placeholder {
color: rgb(170, 165, 165);
}

.inv1 {
    filter: invert(100%);
}
/* SEARCHBAR STYLING ENDS HERE */

/* PROFILE STYLING */
.inv2 {
    filter: invert(100%);
    width: 20px;
    height: 20px;
}

#dc {
    height: 100%;
    padding: 0.4rem;
    background-color: #36FBA1;
    border-radius: 8px;
    text-align: center;
}

.notify-button {
    border: none;
    background-color: transparent;
    border-radius: 8px;
    padding: 0.25rem;
    /* height: 32px; */
    background-color: #474141;

}

.nametag {
    gap: 8px;
    /* border-radius: 8px; */
    border: none;
    color: #fff;
    padding: 0.125rem 0.125rem 0.125rem 0.5rem;
}

.nametag p {
    margin: 0;
}

.profile {
    height: fit-content;
    gap: 0.5rem;
    align-items: center;
}
/* NAVBAR STYLE ENDS */

/* MAIN SECTION STYLING */
main {
    padding-top: 4rem;
    background-color: #f1f1f1;
}

.main-body {
    padding-top: 2rem;    
}

/* CALL TO ACTION STYLING */
.extend {
    background-color: #333;
    color: #fff;
    border: 1px solid black;
    border-radius: 8px;
    padding: 0.75rem 0.5rem 0.75rem 1rem;
    align-items: center;
    gap: 1rem;
}

.extend-flex {
    width: 100%;
    align-items: center;
}

.extend-flex button {
    border-radius: 6px;
    padding: 0.375rem 0.75rem;
}

.extend img {
    filter: invert(100%);
    width: 32px;
    height: 32px;
    fill: #fff;
    padding: 0.25rem;
}
/* CTA STYLING ENDS */

/* SECTIONS STYLING BEGINS */
.sections {
    background-color: #fff;
    margin: 2rem 0;
    padding: 1rem;
    border-radius: 18px;
}

.setup img {
    align-self: flex-start;
}

.sub-setup {
    flex-direction: column;
    gap: 8px;
    width: 80%;
}

.progress {
    align-items: center;
    gap: 0.5rem;
}

.progress-bar {
    width: 7rem;
    height: 5px;
    border: none;
    background-color: #F3F3F3;
}

.progress-bar .progress-sub-div {
    width: 0;
    height: inherit;
    background-color: #1A1A1A;
    border-radius: 6px;
}

/* SECTIONS STYLING ENDS */

/* OPTIONS STYLING BEGINS */
.option {
    margin: 2rem 0;
    gap: 0.5rem;
    background-color: #F3F3F3;
    padding: 0.5rem 0.5rem 0.75rem 0.5rem;
    border-radius: 10px;
}

.option-state {
    align-self: flex-start;
    filter: invert(50%);
    width: 24px;
}

.option-state-tick {
    width: 24px;
}

.subbs {
    width: 70%;
}

.subbs button{
    background-color: #404040;
    color: #f6f3f6;
    width: fit-content;
    padding: 0.375rem 0.75rem;
    border-radius: 6px;
    border: 1.5px 1.5px 0 1.5px solid #FFFFFF33;
    box-shadow: 0px 0px 0px 1.5px #333333;
    margin-right: 2px;
}

.button-included p:nth-child(1) {
    color: #616161;
}

.button-included p:nth-child(1) a {
    color: #005BD3;
    text-decoration: none;
}

.subbs .special-button {
    border: none;
    background-color: transparent;
    color: #333333;
    box-shadow: none;
}

.special-button:hover {
    background-color: #E7E7E7;
}

.button-included {
    gap: 1.5rem;
    flex-direction: column;
    justify-content: center;
}

.p-head {
    padding-bottom: 1rem;
}

.p-head.focus {
    font-weight: 600;
}

.sub-option1, .sub-option2, .sub-option3, .sub-option4, .sub-option5{
    width: 100%;
}

/* OPTIONS STYLING ENDS */

/* MEDIA QUERY */

@media (max-width:850px) {
    .container {
        width: 80rem;
        max-width: 90%;
        margin: 0 auto;
    }

    .desktop-logo {
        display: none;
    }

    .mobile-logo {
        display: inline;
    }

    .nametag p:nth-child(1) {
        display: none;
    }

   .nametag {
    padding: 0;
   }

   .searchbar {
    width: 20rem;
   }
}

@media (max-width:500px) {
    .searchbar {
        width: 12rem;
    }

    .container {
        width: 100%;
        max-width: 100%;
        margin: 0;
    }

    .extend {
        border-radius: 0;
        border: 0;
    }

    .extend-flex {
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
    }

    .cta {
        align-self: flex-start;
    }

    .sections {
        border-radius: 0;
    }

    .img-display {
        display: none;
    }

    .subbs {
        width: 100%;
    }
}